.navbar {
	background-color: #164194;
}

.main {
	justify-content: center;
}

.card {
	justify-items: center;
}

.titulo{
	font-size: 20px;
	text-decoration: underline;
    text-underline-offset: 4px;
}

.footer{
	padding-top: 1.5%;
	background-color: #164194;
	color: white;
	font-weight: 400;
}

.verMais {
	background-color: #164194;
}

#tituloCursos {
	color: rgb(55, 95, 230);
}