<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Centro Educacional</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/index.css">
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar  bg">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Home</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="#">Cursos</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#"></a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
								data-bs-toggle="dropdown" aria-expanded="false">
								Dropdown
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item" href="#">Action</a></li>
								<li><a class="dropdown-item" href="#">Another action</a></li>
								<li>
									<hr class="dropdown-divider">
								</li>
								<li><a class="dropdown-item" href="#">Something else here</a></li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
						</li>
					</ul>
					<button type="button" class="btn btn-light">Login</button>
				</div>
			</div>
		</nav>
	</header>
	<br>
	<br>
	<main>
		<section>
			<div class="container">
				<div class="titulo col-md-8 col-lg-12" id="tituloCursos">Cursos</div>
				<br>
				<div class="row" id="cards-cursos">
					<div class="col-md-3 col-lg-3">
						<div class="card" style="width: 15rem;">
							<img src="/img/berg.jpeg" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">Operações básicas</h5>
								<p class="card-text">Matemática básica</p>
								<a href="https://youtu.be/DYHU4EdraOQ?si=CD6v1bzfkT00uPnL" target="_blank"
									class="verMais btn btn-primary">Ver mais</a>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-lg-3">
						<div class="card" style="width: 15rem;">
							<img src="/img/logolp.png" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">Semântica</h5>
								<p class="card-text">Vídeo aula de português</p>
								<a href="#" target="_blank" class="verMais btn btn-primary">Ver mais</a>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-lg-3">
						<div class="card" style="width: 15rem;">
							<img src="/img/logofisica.png" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">Física</h5>
								<p class="card-text">Playlist de questões </p>
								<a href="https://youtu.be/tsQKrWCXaBc?si=ItRiPGw64FhlR7Fr" target="_blank"
									class="verMais btn btn-primary">Ver mais</a>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-lg-3">
						<div class="card" style="width: 15rem;">
							<img src="/img/logofisica.png" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">Física</h5>
								<p class="card-text">Playlist de questões </p>
								<a href="https://youtu.be/tsQKrWCXaBc?si=ItRiPGw64FhlR7Fr" target="_blank"
									class="verMais btn btn-primary">Ver mais</a>
							</div>
						</div>
					</div>
				</div>

				<br>
				<br>

				<div class="titulo col-md-8 col-lg-12">Professores</div>
				<br>
				<div class="row">
					<div class="col-md-4 col-lg-4">
						<div class="card">
							<div class="row">
								<div class="col-5">
									<img style="height: 100%;" src="/img/610_6587.jpg" class="card-img-top" alt="">
								</div>
								<div class="col-7">
									<div class="card-body">
										<h5 class="card-title">Vanessa Maria</h5>
										<p class="card-text">Técnica em Informática pelo IFRN Campus João Câmara e
											graduanda em Tecnologia da Informação pela UFRN</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-4 col-lg-4">
						<div class="card">
							<div class="row">
								<div class="col-5">
									<img style="height: 100%;" src="/img/610_6587.jpg" class="card-img-top" alt="">
								</div>
								<div class="col-7">
									<div class="card-body">
										<h5 class="card-title">Vanessa Maria</h5>
										<p class="card-text">Técnica em Informática pelo IFRN Campus João Câmara e
											graduanda em Tecnologia da Informação pela UFRN</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-4 col-lg-4">
						<div class="card">
							<div class="row">
								<div class="col-5">
									<img style="height: 100%;" src="/img/610_6587.jpg" class="card-img-top" alt="">
								</div>
								<div class="col-7">
									<div class="card-body">
										<h5 class="card-title">Vanessa Maria</h5>
										<p class="card-text">Técnica em Informática pelo IFRN Campus João Câmara e
											graduanda em Tecnologia da Informação pela UFRN</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<br>
				<br>

				<div class="titulo col-md-8 col-lg-12">FeedBacks</div>
				<br>
				<div class="row">
					<div class="col-md-4 col-lg-6">
						<div class="row">
							<div class="col-12">
								<img src="/img/feedBack1.png" class="card-img-top" alt="">
							</div>
						</div>
					</div>

					<div class="col-md-4 col-lg-6">
						<div class="row">
							<div class="col-12">
								<img src="/img/feedBack2.png" class="card-img-top" alt="">
							</div>
						</div>
					</div>
				</div>
				<br>
				<br>
			</div>
		</section>


	</main>

	<footer class="footer">
		<section>
			<div class="container">
				<div class="row">
					<div class="col-4">
						<p>Cursos</p>
						<ul>
							<li>Enem</li>
							<li>Matemática básica</li>
							<li>Língua Portuguesa</li>
						</ul>
					</div>
					<div class="col-4">
						<p>História</p>
						<ul>
							<li>Quem somos?</li>
							<li>Qual nosso propósito?</li>
							<li>Nossos colaboradores</li>
						</ul>
					</div>
					<div class="col-4">
						<p>Dúvidas frequentes</p>
						<ul>
							<li>Como são os cursos?</li>
							<li>Os atendimentos são presencias ou remoto?</li>
							<li>Como me inscrever?</li>
						</ul>
					</div>
					<div class="col-12" id="copyright">
						<p>© Cope by Vanessa Maria</p>
					</div>
				</div>
			</div>
		</section>
	</footer>

</body>

</html>